set_location dec_cntr_RNO 5 20 2 # SB_LUT4 (LogicCell: dec_cntr_LC_0)
set_location dec_cntr 5 20 2 # SB_DFF (LogicCell: dec_cntr_LC_0)
set_location div_cntr1_RNI2ASF1[0] 5 20 0 # SB_LUT4 (LogicCell: div_cntr1_RNI2ASF1[0]_LC_1)
set_location div_cntr1_RNIESE6[0] 5 20 5 # SB_LUT4 (LogicCell: div_cntr1_RNIESE6[0]_LC_2)
set_location div_cntr1_RNIQ64L[15] 5 21 1 # SB_LUT4 (LogicCell: div_cntr1_RNIQ64L[15]_LC_3)
set_location div_cntr1_RNISPPD[8] 5 21 5 # SB_LUT4 (LogicCell: div_cntr1_RNISPPD[8]_LC_4)
set_location div_cntr1_RNIUCF6[4] 5 20 7 # SB_LUT4 (LogicCell: div_cntr1_RNIUCF6[4]_LC_5)
set_location div_cntr1_RNO[0] 6 20 0 # SB_LUT4 (LogicCell: div_cntr1[0]_LC_6)
set_location div_cntr1[0] 6 20 0 # SB_DFF (LogicCell: div_cntr1[0]_LC_6)
set_location div_cntr1_cry_c[0] 6 20 0 # SB_CARRY (LogicCell: div_cntr1[0]_LC_6)
set_location div_cntr1_RNO[1] 6 20 1 # SB_LUT4 (LogicCell: div_cntr1[1]_LC_7)
set_location div_cntr1[1] 6 20 1 # SB_DFF (LogicCell: div_cntr1[1]_LC_7)
set_location div_cntr1_cry_c[1] 6 20 1 # SB_CARRY (LogicCell: div_cntr1[1]_LC_7)
set_location div_cntr1_RNO[10] 6 21 2 # SB_LUT4 (LogicCell: div_cntr1[10]_LC_8)
set_location div_cntr1[10] 6 21 2 # SB_DFF (LogicCell: div_cntr1[10]_LC_8)
set_location div_cntr1_cry_c[10] 6 21 2 # SB_CARRY (LogicCell: div_cntr1[10]_LC_8)
set_location div_cntr1_RNO[11] 6 21 3 # SB_LUT4 (LogicCell: div_cntr1[11]_LC_9)
set_location div_cntr1[11] 6 21 3 # SB_DFF (LogicCell: div_cntr1[11]_LC_9)
set_location div_cntr1_cry_c[11] 6 21 3 # SB_CARRY (LogicCell: div_cntr1[11]_LC_9)
set_location div_cntr1_RNO[12] 6 21 4 # SB_LUT4 (LogicCell: div_cntr1[12]_LC_10)
set_location div_cntr1[12] 6 21 4 # SB_DFF (LogicCell: div_cntr1[12]_LC_10)
set_location div_cntr1_cry_c[12] 6 21 4 # SB_CARRY (LogicCell: div_cntr1[12]_LC_10)
set_location div_cntr1_RNO[13] 6 21 5 # SB_LUT4 (LogicCell: div_cntr1[13]_LC_11)
set_location div_cntr1[13] 6 21 5 # SB_DFF (LogicCell: div_cntr1[13]_LC_11)
set_location div_cntr1_cry_c[13] 6 21 5 # SB_CARRY (LogicCell: div_cntr1[13]_LC_11)
set_location div_cntr1_RNO[14] 6 21 6 # SB_LUT4 (LogicCell: div_cntr1[14]_LC_12)
set_location div_cntr1[14] 6 21 6 # SB_DFF (LogicCell: div_cntr1[14]_LC_12)
set_location div_cntr1_cry_c[14] 6 21 6 # SB_CARRY (LogicCell: div_cntr1[14]_LC_12)
set_location div_cntr1_RNO[15] 6 21 7 # SB_LUT4 (LogicCell: div_cntr1[15]_LC_13)
set_location div_cntr1[15] 6 21 7 # SB_DFF (LogicCell: div_cntr1[15]_LC_13)
set_location div_cntr1_RNO[2] 6 20 2 # SB_LUT4 (LogicCell: div_cntr1[2]_LC_14)
set_location div_cntr1[2] 6 20 2 # SB_DFF (LogicCell: div_cntr1[2]_LC_14)
set_location div_cntr1_cry_c[2] 6 20 2 # SB_CARRY (LogicCell: div_cntr1[2]_LC_14)
set_location div_cntr1_RNO[3] 6 20 3 # SB_LUT4 (LogicCell: div_cntr1[3]_LC_15)
set_location div_cntr1[3] 6 20 3 # SB_DFF (LogicCell: div_cntr1[3]_LC_15)
set_location div_cntr1_cry_c[3] 6 20 3 # SB_CARRY (LogicCell: div_cntr1[3]_LC_15)
set_location div_cntr1_RNO[4] 6 20 4 # SB_LUT4 (LogicCell: div_cntr1[4]_LC_16)
set_location div_cntr1[4] 6 20 4 # SB_DFF (LogicCell: div_cntr1[4]_LC_16)
set_location div_cntr1_cry_c[4] 6 20 4 # SB_CARRY (LogicCell: div_cntr1[4]_LC_16)
set_location div_cntr1_RNO[5] 6 20 5 # SB_LUT4 (LogicCell: div_cntr1[5]_LC_17)
set_location div_cntr1[5] 6 20 5 # SB_DFF (LogicCell: div_cntr1[5]_LC_17)
set_location div_cntr1_cry_c[5] 6 20 5 # SB_CARRY (LogicCell: div_cntr1[5]_LC_17)
set_location div_cntr1_RNO[6] 6 20 6 # SB_LUT4 (LogicCell: div_cntr1[6]_LC_18)
set_location div_cntr1[6] 6 20 6 # SB_DFF (LogicCell: div_cntr1[6]_LC_18)
set_location div_cntr1_cry_c[6] 6 20 6 # SB_CARRY (LogicCell: div_cntr1[6]_LC_18)
set_location div_cntr1_RNO[7] 6 20 7 # SB_LUT4 (LogicCell: div_cntr1[7]_LC_19)
set_location div_cntr1[7] 6 20 7 # SB_DFF (LogicCell: div_cntr1[7]_LC_19)
set_location div_cntr1_cry_c[7] 6 20 7 # SB_CARRY (LogicCell: div_cntr1[7]_LC_19)
set_location div_cntr1_RNO[8] 6 21 0 # SB_LUT4 (LogicCell: div_cntr1[8]_LC_20)
set_location div_cntr1[8] 6 21 0 # SB_DFF (LogicCell: div_cntr1[8]_LC_20)
set_location div_cntr1_cry_c[8] 6 21 0 # SB_CARRY (LogicCell: div_cntr1[8]_LC_20)
set_location div_cntr1_RNO[9] 6 21 1 # SB_LUT4 (LogicCell: div_cntr1[9]_LC_21)
set_location div_cntr1[9] 6 21 1 # SB_DFF (LogicCell: div_cntr1[9]_LC_21)
set_location div_cntr1_cry_c[9] 6 21 1 # SB_CARRY (LogicCell: div_cntr1[9]_LC_21)
set_location div_cntr2_RNIMFRB_0[3] 5 19 3 # SB_LUT4 (LogicCell: div_cntr2_RNIMFRB_0[3]_LC_22)
set_location div_cntr2_RNIMFRB[3] 6 18 5 # SB_LUT4 (LogicCell: div_cntr2_RNIMFRB[3]_LC_23)
set_location div_cntr2_RNIU80K[6] 5 19 4 # SB_LUT4 (LogicCell: div_cntr2_RNIU80K[6]_LC_24)
set_location div_cntr2_RNO_0[3] 5 20 3 # SB_LUT4 (LogicCell: div_cntr2_RNO_0[3]_LC_25)
set_location div_cntr2_RNO_0[4] 6 18 6 # SB_LUT4 (LogicCell: div_cntr2_RNO_0[4]_LC_26)
set_location div_cntr2_RNO_0[6] 6 19 4 # SB_LUT4 (LogicCell: div_cntr2_RNO_0[6]_LC_27)
set_location div_cntr2_RNO[1] 6 19 7 # SB_LUT4 (LogicCell: div_cntr2[1]_LC_28)
set_location div_cntr2[1] 6 19 7 # SB_DFFE (LogicCell: div_cntr2[1]_LC_28)
set_location div_cntr2_RNO_1[3] 6 18 7 # SB_LUT4 (LogicCell: div_cntr2_RNO_1[3]_LC_29)
set_location div_cntr2_RNO[2] 6 19 6 # SB_LUT4 (LogicCell: div_cntr2[2]_LC_30)
set_location div_cntr2[2] 6 19 6 # SB_DFFE (LogicCell: div_cntr2[2]_LC_30)
set_location div_cntr2_RNO[3] 6 19 1 # SB_LUT4 (LogicCell: div_cntr2[3]_LC_31)
set_location div_cntr2[3] 6 19 1 # SB_DFFE (LogicCell: div_cntr2[3]_LC_31)
set_location div_cntr2_RNO[4] 6 19 2 # SB_LUT4 (LogicCell: div_cntr2[4]_LC_32)
set_location div_cntr2[4] 6 19 2 # SB_DFFE (LogicCell: div_cntr2[4]_LC_32)
set_location div_cntr2_RNO[5] 6 19 3 # SB_LUT4 (LogicCell: div_cntr2[5]_LC_33)
set_location div_cntr2[5] 6 19 3 # SB_DFFE (LogicCell: div_cntr2[5]_LC_33)
set_location div_cntr2_RNO[6] 6 19 5 # SB_LUT4 (LogicCell: div_cntr2[6]_LC_34)
set_location div_cntr2[6] 6 19 5 # SB_DFFE (LogicCell: div_cntr2[6]_LC_34)
set_location div_cntr2_e_RNO[0] 5 18 0 # SB_LUT4 (LogicCell: div_cntr2_e[0]_LC_35)
set_location div_cntr2_e[0] 5 18 0 # SB_DFFE (LogicCell: div_cntr2_e[0]_LC_35)
set_location half_sec_pulse_RNO 5 19 2 # SB_LUT4 (LogicCell: half_sec_pulse_LC_36)
set_location half_sec_pulse 5 19 2 # SB_DFFSS (LogicCell: half_sec_pulse_LC_36)
set_location half_sec_pulse_RNO_0 5 20 1 # SB_LUT4 (LogicCell: half_sec_pulse_RNO_0_LC_37)
set_location half_sec_pulse_RNO_1 5 20 6 # SB_LUT4 (LogicCell: half_sec_pulse_RNO_1_LC_38)
set_location half_sec_pulse_RNO_2 5 20 4 # SB_LUT4 (LogicCell: half_sec_pulse_RNO_2_LC_39)
set_location GB_BUFFER_PLL_out_c_THRU_LUT4_0 3 27 6 # SB_LUT4 (LogicCell: GB_BUFFER_PLL_out_c_THRU_LUT4_0_LC_40)
set_io CLK_ibuf 0 16 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LED1_obuf 7 33 1 # ICE_IO
set_io LED2_obuf 6 33 1 # ICE_IO
set_io LED3_obuf 5 33 1 # ICE_IO
set_io LED4_obuf 4 33 1 # ICE_IO
set_io LED5_obuf 4 33 0 # ICE_IO
set_io LED6_obuf 3 33 1 # ICE_IO
set_io LED7_obuf 3 33 0 # ICE_IO
set_io LED8_obuf 1 33 0 # ICE_IO
set_io PLL_out_obuf 0 31 0 # ICE_IO
set_location VGA_PLL_inst.VGA_PLL_inst 16 0 1 # SB_PLL40_CORE
set_location CONSTANT_ONE_LUT4 16 1 2 # SB_LUT4 (LogicCell: LC_41)
